@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-slate-200 antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-white;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-400 to-brand-600;
  }
  .glass-card {
    @apply bg-dark-card/60 backdrop-blur-lg border border-white/5 shadow-xl;
  }
}
